<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>เข้าสู่ระบบ - ร้านอาหาร OOP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <!-- Header เหมือน index.html -->
    <header>
        <h1>ร้านอาหาร OOP</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>

                {% if session.get('user') %}
                    <li>สวัสดี, {{ session['user'] }}</li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>


    <!-- Login Section -->
    <div class="login-container">
        <h2>เข้าสู่ระบบ<br>
        Username = admin<br>
        Password = 1234
        </h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="POST">
            <label for="username">ชื่อผู้ใช้:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">รหัสผ่าน:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">เข้าสู่ระบบ</button>
        </form>
    </div>
</body>
</html>
